.dashboard {
    min-height: 100vh;
    background: $primary-black;
    color: $primary-white;

    .headers {
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;


        .title {
            font-size: 3rem;
            padding: 1.2rem 0;

        }

        .sub-title {
            font-size: 1.2rem;
            padding-bottom: 1.2rem;
        }

        @media only screen and (max-width: 768px) {

            & {
                flex-direction: column;
                justify-content: center;

                .sub-title,
                .title {
                    text-align: center;
                }
            }

            .left {
                text-align: center;
            }
        }
    }

    .notes {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem;
        width: 100%;


        @media only screen and (max-width: 768px) {
            .note-card-single-container {
                width: 100%;
                display: flex;
                justify-content: center;
            }

        }

    }



}

.create-note {
    align-items: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .auth-form {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        width: 100%;
        min-width: 20rem;

        @media only screen and (max-width: 768px) {
            width: 20rem;

        }

        label {
            font-size: 2rem;
        }

        input {
            padding: 0.6rem 1rem;
            margin: 1rem 0;
            border: 2px solid $primary-blue;
            color: $primary-white;
            background-color: transparent;

            &:focus {
                outline: none;
            }
        }
    }

    .preview {
        width: 100%;

    }
}